<div>
    Choose your language:
    <ul>
        <li><a class="<%=(lang==" hin"?"active":"")%>" href="/?clang=hin">Hindi</a></li>
        <li><a class="<%=(lang==" eng"?"active":"")%>" href="/?clang=eng">English</a></li>
    </ul>

    <h1>
        <%=translation.WELCOME_MSG%>
    </h1>


</div>