<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="theme-color" content="#000000" />
    <title>KnitKraft></title>
    <meta name="description" content="Knitkraft HTML Mobile Template" />
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32" />
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icon/192x192.png" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="manifest" href="../__manifest.json" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-H+BYLh3by+4R8pl2s0K/R9MvCV4FJezG4vLrdlWhdxMMF/wxf7MbGYebYlB5MWaeGy+6Ad5xCH+G4Sq4rgN0Fg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="bg-white">
    <!-- loader -->
    <div id="loader">
        <img src="../assets/img/loading-icon.png" alt="icon" class="loading-icon" />
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader no-border">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">Buy Now</div>
        <div class="right"></div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->

    <div id="appCapsule">
        <div class="section">
            <div class="splash-page mt-5 mb-5">
                <div class="mb-3">
                    <img src="../assets/img/alpaca-fleece.jpg" alt="image" class="imaged w-50 square" />
                </div>
                <h2 class="mb-2">
                    Alpaca Fleece Wool
                </h2>
                <div class="d-flex flex-row my-3">
                    <div class="text-warning mb-1 me-2">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <span class="ms-1">4.5</span>
                    </div>
                </div>
                
                <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                <span class="text-success ms-2">In stock</span>
            </div>

            <p>
                Discover the latest trends in design and architecture, get inspired by our styles selections and choose Alpaca Fleece Wool for your home.
            </p>

            <!-- Display Price and Discount -->
            <div class="row">
                <div class="col-6">
                    <label class="mb-2">Package</label>
                    <select class="form-select border border-secondary" style="height: 35px">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                    </select>
                </div>
                <!-- Quantity Input -->
                <div class="col-6">
                    <label class="mb-2 d-block">Quantity</label>
                    <div class="input-group mb-3" style="width: 170px">
                        <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon1"
                            data-mdb-ripple-color="dark">
                            <i class="fas fa-minus"></i>
                        </button>
                        <input type="text" class="form-control text-center border border-secondary" placeholder="14"
                            aria-label="Example text with button addon" aria-describedby="button-addon1" />
                        <button class="btn btn-white border border-secondary px-3" type="button" id="button-addon2"
                            data-mdb-ripple-color="dark">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>          
              <!-- price show in center -->
              <div class="mb-4">
                <span class="h3 text-dark">₹550.00</span>
                <span class="text-muted">/per kg</span>
            </div>
            

        </div>
      
       
        <!-- Buy Buttons -->
        <div class="fixed-bar">
            <div class="row">
                <div class="col-6">
                    <button class="btn btn-lg btn-outline-secondary btn-block" onclick="history.back()">Clear</button>
                </div>
                <div class="col-6">
                    <a href="#" class="btn btn-lg btn-primary btn-block" data-bs-toggle="modal" data-bs-target="#addCardActionSheet" >Buy Now</a>
                </div>
            </div>
        </div>
        <a href="#" role="modal"  id="addCardBtn"></a>
        <div
        class="modal fade action-sheet"
        id="addCardActionSheet"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Amount: ₹<span id="calPrice"></span></h5>
            </div>
            <div class="modal-body">
              <div class="action-sheet-content">
                <form>
                  <div class="form-group basic">
                    <div class="input-wrapper">
                      <label class="label" for="cardnumber1">Card Number</label>
                      <input
                        type="number"
                        id="cardnumber1"
                        class="form-control"
                        placeholder="Enter Card Number"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label">Expiry Date</label>
                          <div class="row">
                            <div class="col-4">
                              <select
                                class="form-control custom-select"
                                id="exp-month"
                              >
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                            </div>
                            <div class="col-6">
                              <select
                                class="form-control custom-select"
                                id="exp-year"
                              >
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label" for="cardcvv">
                            CVV
                            <a
                              href="#"
                              class="ms-05"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="3-4 digit number back of your card"
                            >
                              What is this?
                            </a>
                          </label>
                          <input
                            type="number"
                            id="cardcvv"
                            class="form-control pininp"
                            placeholder="Enter 3 digit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <p class="carousel-slider">OR</p>
                  </div>

                  <!--  -->
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label">Current Wallet Balance</label>
                          <div class="row">
                            <div class="col-10">₹20000</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label" for="cardcvv">
                            PIN
                            <a
                              href="#"
                              class="ms-05"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="4 digit wallet pin you created in KnitKraft"
                            >
                              Your wallet pin
                            </a>
                          </label>
                          <input
                            type="number"
                            id="walletPin"
                            class="form-control pininp"
                            placeholder="Enter 4 digit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <div class="form-group basic mt-2" style="text-align: center">
                    <button
                      type="button"
                      class="btn btn-primary btn-block btn-lg mb-1"
                      data-bs-dismiss="modal"
                      id="confirmBtn"
                    >
                      Confirm Payment
                    </button>
                    <a href="../Pages/negotiate.html" style="text-decoration: underline"
                      >Negotiate</a
                    >
                  </div>
                  <script>
                    confirmBtn.addEventListener("click", function () {
                      if (walletPin.value == "1111") {
                        loader.setAttribute("style", "display: flex;");
                        loader.classList.add("service-loader");
                        setTimeout(function () {
                          loader.setAttribute("style", "display: none;");
                          submitRequestForm();
                        }, 1500);
                      } else {
                        loader.setAttribute("style", "display: flex;");
                        loader.classList.add("service-loader");
                        setTimeout(function () {
                          loader.setAttribute("style", "display: none;");
                          failCall.click();
                        }, 1000);
                      }
                    });
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- * App Capsule -->
    <!-- Bootstrap --> <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js" integrity="sha384-###################" crossorigin="anonymous"></script>
    <script src="../assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="../assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>
</body>

</html>