<!doctype html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style"
            content="black-translucent">
        <meta name="theme-color" content="#000000">
        <title>Finapp</title>
        <meta name="description" content="Finapp HTML Mobile Template">
        <meta name="keywords"
            content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
        <link rel="icon" type="image/png" href="../assets/img/favicon.png"
            sizes="32x32">
        <link rel="apple-touch-icon" sizes="180x180"
            href="../assets/img/icon/192x192.png">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="manifest" href="../__manifest.json">
    </head>

    <body>

        <!-- loader -->
        <div id="loader">
            <img src="../assets/img/loading-icon.png" alt="icon"
                class="loading-icon">
        </div>
        <!-- * loader -->

        <!-- App Header -->
        <div class="appHeader">
            <div class="left">
                <a href="#" class="headerButton goBack">
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
            </div>
            <div class="pageTitle">
                WoolKart
            </div>
            <div class="right">
                <a href="#" class="headerButton toggle-searchbox">
                    <ion-icon name="search-outline"></ion-icon>
                </a>
            </div>
        </div>
        <!-- * App Header -->

        <!-- Search Component -->
        <div id="search" class="appHeader">
            <form class="search-form">
                <div class="form-group searchbox">
                    <input type="text" class="form-control"
                        placeholder="Search...">
                    <i class="input-icon icon ion-ios-search"></i>
                    <a href="#" class="ms-1 close toggle-searchbox"><i
                            class="icon ion-ios-close-circle"></i></a>
                </div>
            </form>
        </div>
        <!-- * Search Component -->

        <!-- App Capsule -->
        <div id="appCapsule">

            <div class="section mt-1">
                <div class="card">
                    <div class="card-body pt-0">
                        <ul class="nav nav-tabs lined" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab"
                                    href="#Buy" role="tab">
                                    Buy
                                </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                    href="#Sell" role="tab">
                                    Sell
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content mt-2">
                <div class="tab-pane fade show active" id="Buy" role="tabpanel">
                    <div class="section tab-content mt-2 mb-2">
                        <div class="row">
                            <!-- box start -->
                            <div class="col-6 mb-2">
                                <div class="blog-card position-relative">
                                    <img src="../assets/img/sample/photo/1.jpg"
                                        alt="image" class="imaged w-100">
                                    <div
                                        class="overlay position-absolute top-0 start-50 translate-middle-x">
                                        <button
                                            class="btn btn-success btn-sm verification-btn"
                                            title="Verified">
                                            <i class="fas fa-check-circle"></i>
                                            Verified
                                        </button>
                                    </div>
                                    <div class="text">
                                        <div class="price">₹14</div>
                                        <p>wool</p>
                                        <a href="#"
                                            class="btn btn-primary btn-block btn-sm">Buy
                                            NOW</a>
                                    </div>
                                </div>
                            </div>
                            <!--  -->

                            <!--  -->
                            <div class="col-6 mb-2">
                                <div class="blog-card position-relative">
                                    <img src="../assets/img/sample/photo/1.jpg"
                                        alt="image" class="imaged w-100">
                                    <div
                                        class="overlay position-absolute top-0 start-50 translate-middle-x">
                                        <button
                                            class="btn btn-success btn-sm verification-btn"
                                            title="Verified">
                                            <i class="fas fa-check-circle"></i>
                                            Verified
                                        </button>
                                    </div>
                                    <div class="text">
                                        <div class="price">₹14</div>
                                        <p>wool</p>
                                        <a href="/Woolkart/buynow.html"
                                            class="btn btn-primary btn-block btn-sm">Buy
                                            NOW</a>
                                    </div>
                                </div>

                            </div>
                            <!--  -->

                        </div>
                        <!-- * App Capsule -->

                        <!-- App Bottom Menu -->
                        <!-- App Bottom Menu -->
                        <div class="appBottomMenu">
                            <a href="../index.html" class="item ">
                                <div class="col">
                                    <ion-icon name="pie-chart-outline"></ion-icon>
                                    <strong>Overview</strong>
                                </div>
                            </a>
                            <a href="../Woolkart" class="item active">
                                <div class="col">
                                    <ion-icon name="card-outline"></ion-icon>
                                    <strong>WoolKart</strong>
                                </div>
                            </a>
                            <a href="../Learning" class="item">
                                <div class="col">
                                    <ion-icon name="apps-outline"></ion-icon>
                                    <strong>Learnings</strong>
                                </div>
                            </a>

                            <a href="../Services" class="item">
                                <div class="col">
                                    <ion-icon name="document-text-outline"></ion-icon>
                                    <strong>Services</strong>
                                </div>
                            </a>
                            <a href="../Statistics" class="item">
                                <div class="col">
                                    <ion-icon name="settings-outline"></ion-icon>
                                    <strong>Statistics</strong>
                                </div>
                            </a>
                        </div>
                        <!-- * App Bottom Menu -->
                    </div>
                    <div class=" p-3"
                        style="position: fixed;bottom: 5vh;right: 2vw;">
                        <a href="demo.html"
                            class="btn btn-primary btn-lg rounded-circle"
                            role="button">
                            <i class="fas fa-comment"></i>
                        </a>
                    </div>

                </div>

                <div class="tab-pane fade" id="Sell" role="tabpanel">
                    <div class="section tab-content mt-2 mb-2">
                        <div class="row">
                            <!-- box start -->
                            <div class="col-6 mb-2">
                                <div class="blog-card position-relative">
                                    <img src="../assets/img/sample/photo/1.jpg"
                                        alt="image" class="imaged w-100">
                                    <div
                                        class="overlay position-absolute top-0 start-50 translate-middle-x">
                                        <button
                                            class="btn btn-success btn-sm verification-btn"
                                            title="Verified">
                                            <i class="fas fa-check-circle"></i>
                                            Verified
                                        </button>
                                    </div>
                                    <div class="text">
                                        <div class="price">₹14</div>
                                        <p>wool</p>
                                        <a href="#"
                                            class="btn btn-primary btn-block btn-sm">Buy
                                            NOW</a>
                                    </div>
                                </div>
                            </div>
                            <!--  -->

                            <!--  -->
                            <div class="col-6 mb-2">
                                <div class="blog-card position-relative">
                                    <img src="../assets/img/sample/photo/1.jpg"
                                        alt="image" class="imaged w-100">
                                    <div
                                        class="overlay position-absolute top-0 start-50 translate-middle-x">
                                        <button
                                            class="btn btn-success btn-sm verification-btn"
                                            title="Verified">
                                            <i class="fas fa-check-circle"></i>
                                            Verified
                                        </button>
                                    </div>
                                    <div class="text">
                                        <div class="price">₹14</div>
                                        <p>wool</p>
                                        <a href="/Woolkart/buynow.html"
                                            class="btn btn-primary btn-block btn-sm">Buy
                                            NOW</a>
                                    </div>
                                </div>

                            </div>
                            <!--  -->

                        </div>
                        <!-- * App Capsule -->

                        <!-- App Bottom Menu -->
                        <!-- App Bottom Menu -->
                        <div class="appBottomMenu">
                            <a href="../index.html" class="item ">
                                <div class="col">
                                    <ion-icon name="pie-chart-outline"></ion-icon>
                                    <strong>Overview</strong>
                                </div>
                            </a>
                            <a href="../Woolkart" class="item active">
                                <div class="col">
                                    <ion-icon name="card-outline"></ion-icon>
                                    <strong>WoolKart</strong>
                                </div>
                            </a>
                            <a href="../Learning" class="item">
                                <div class="col">
                                    <ion-icon name="apps-outline"></ion-icon>
                                    <strong>Learnings</strong>
                                </div>
                            </a>

                            <a href="../Services" class="item">
                                <div class="col">
                                    <ion-icon name="document-text-outline"></ion-icon>
                                    <strong>Services</strong>
                                </div>
                            </a>
                            <a href="../Statistics" class="item">
                                <div class="col">
                                    <ion-icon name="settings-outline"></ion-icon>
                                    <strong>Statistics</strong>
                                </div>
                            </a>
                        </div>
                        <!-- * App Bottom Menu -->
                    </div>

                    <!-- Bootstrap -->
                    <script src="../assets/js/lib/bootstrap.bundle.min.js"></script>
                    <!-- Ionicons -->
                    <script type="module"
                        src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
                    <!-- Splide -->
                    <script src="../assets/js/plugins/splide/splide.min.js"></script>
                    <!-- Base Js File -->
                    <script src="../assets/js/base.js"></script>

                </body>

            </html>