<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#000000" />
    <title>Knitkraft</title>
    <meta name="description" content="Knitkraft HTML Mobile Template" />
    <meta
      name="keywords"
      content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive"
    />
    <link
      rel="icon"
      type="image/png"
      href="../assets/img/favicon.png"
      sizes="32x32"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/img/icon/192x192.png"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="manifest" href="../__manifest.json" />
  </head>

  <body>
    <!-- loader -->
    <div id="loader">
      <img
        src="../assets/img/loading-icon.png"
        alt="icon"
        class="loading-icon"
      />
    </div>
    <!-- * loader -->

    <!-- App Header -->

    <div class="appHeader bg-primary text-light">
      <div class="left">
        <!-- go back button -->
        <a href="#" class="headerButton goBack">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
      </div>
      <div class="pageTitle">Meetings</div>
      <div class="right">
        <a href="app-notifications.html" class="headerButton">
          <ion-icon class="icon" name="notifications-outline"></ion-icon>
          <span class="badge badge-danger">8</span>
        </a>
      </div>
    </div>
    <!-- * App Header -->

    <style>
      #appCapsule {
        min-height: 100vh;
      }

      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }

      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
        position: relative;
      }

      .pininp {
        font-size: 0.8em !important;
      }
    </style>
    <!-- App Capsule -->
    <div id="appCapsule" style="min-height: 100%">
      <!--  -->
      <!--  -->
      <div id="SUCCESS-NOTIFICATION" class="notification-box">
        <div class="notification-dialog android-style">
          <div class="notification-header">
            <a href="#" class="close-button">
              <ion-icon name="close"></ion-icon>
            </a>
          </div>
          <div class="notification-content p-0">
            <div>
              <h3 class="subtitle">Payment has been sent</h3>
              <br />
              <div class="text">You just sent $50 to KnitKraft.</div>
            </div>
            <div class="icon-box text-success">
              <ion-icon name="cash-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <div
        class="modal fade dialogbox"
        id="DialogIconedDanger"
        data-bs-backdrop="static"
        tabindex="-1"
        role="dialog"
      >
        <style>
          .modal-backdrop {
            z-index: 999;
            display: none;
          }
        </style>
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-icon text-danger">
              <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
              <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">There is something wrong.</div>
            <div class="modal-footer">
              <div class="btn-inline">
                <a href="#" class="btn" data-bs-dismiss="modal">CLOSE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        id="failCall"
        style="display: none"
        data-bs-toggle="modal"
        data-bs-target="#DialogIconedDanger"
      ></a>
      <!--  -->
      <!--  -->
      <!-- Wallet -->
      <div class="section full gradientSection" style="height: 100vh">
        <div style="width: 80%; margin: auto">
          <h5 class="title mb-2">Join The Meet</h5>
          <input
            type="text"
            id="linkBox"
            placeholder="Enter the code"
            class="form-control mb-2"
          />
          <button
            onclick='{
                    appCapsule.innerHTML = `
                    <iframe width="100vw" height="100vh" style="height: 100vh; width: 100vw; border: none;" frameborder="0"
                    src="https://meet.jit.si/${linkBox.value}"></iframe>
                    `;
                    }'
            class="btn btn-block btn-info btn-lg mb-1"
            style="max-width: 200px"
          >
            Join now
          </button>
        </div>

        <!-- Create a button for request live 1:1 session -->
        <button
          class="btn btn-block btn-secondary btn-lg"
          style="max-width: 200px"
          id="myBtn"
          data-bs-toggle="modal"
          data-bs-target="#addCardActionSheet"
        >
          Request 1:1 Live Session
        </button>

        <div class="section mt-2 mb-2">
          <div class="section-title">All Your Meetings</div>
          <div class="table-responsive">
            <div class="container" id="allMeetings"></div>
          </div>
        </div>

        <!-- Create a model popup box -->

        <div id="myModal" class="modal" style="z-index: 100">
          <!-- Modal content -->
          <div class="modal-content">
            <!-- <span class="close">&times;</span> -->
            <form id="bookMeetForm">
              <h5 class="title mb-2">Request 1:1 Live Session</h5>
              <input type="hidden" name="farmerId" value="43689564389" />
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Enter your name"
                class="form-control mb-2"
              />
              <select class="form-control mb-2" name="topic">
                <option disabled selected>Select Topic</option>
                <option value="Farming">Farming</option>
                <option value="Sheep Breeding">Sheep Breeding</option>
                <option value="Wool Processing">Wool Processing</option>
                <option value="Wool Marketing">Wool Marketing</option>
              </select>
              <div>
                <!-- <label for="date">Select Date</label> -->
                <input
                  type="date"
                  id="date"
                  class="form-control mb-2"
                  value="2022-12-21"
                  name="date"
                />
              </div>
              <div>
                <!-- take input time as 12 hour clock format -->
                <input
                  type="bookMeetBtntime"
                  id="time"
                  name="time"
                  class="form-control mb-2"
                  value="13:45"
                />
              </div>
              <input
                type="text"
                name="message"
                placeholder="Enter your message"
                class="form-control mb-2"
              />

              <button
                type="submit"
                class="btn btn-block btn-primary btn-lg mb-2"
                style="max-width: 200px"
                id="bookMeetBtn"
              >
                Book 1:1 Session
              </button>
              <button
                type="button"
                class="btn btn-block btn-secondary btn-lg"
                style="max-width: 200px"
                onclick="document.getElementById('myModal').style.display = 'none'"
              >
                Cancel
              </button>
            </form>
          </div>
        </div>

        <script>
          // Get the modal
          function RequestAndPay() {
            location.href = "app-transaction-verification.html";
          }
          var modal = document.getElementById("myModal");

          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function (event) {
            if (event.target == modal) {
              modal.style.display = "none";
            }
          };
        </script>

        <!-- create  -->
      </div>
      <!-- * Wallet -->
      <div
        class="modal fade action-sheet"
        id="addCardActionSheet"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Amount: $50</h5>
            </div>
            <div class="modal-body">
              <div class="action-sheet-content">
                <form>
                  <div class="form-group basic">
                    <div class="input-wrapper">
                      <label class="label" for="cardnumber1">Card Number</label>
                      <input
                        type="number"
                        id="cardnumber1"
                        class="form-control"
                        placeholder="Enter Card Number"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label">Expiry Date</label>
                          <div class="row">
                            <div class="col-4">
                              <select
                                class="form-control custom-select"
                                id="exp-month"
                              >
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                            </div>
                            <div class="col-6">
                              <select
                                class="form-control custom-select"
                                id="exp-year"
                              >
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label" for="cardcvv">
                            CVV
                            <a
                              href="#"
                              class="ms-05"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="3-4 digit number back of your card"
                            >
                              What is this?
                            </a>
                          </label>
                          <input
                            type="number"
                            id="cardcvv"
                            class="form-control pininp"
                            placeholder="Enter 3 digit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <p class="carousel-slider">OR</p>
                  </div>

                  <!--  -->
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label">Current Wallet Balance</label>
                          <div class="row">
                            <div class="col-10">$20000</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label" for="cardcvv">
                            PIN
                            <a
                              href="#"
                              class="ms-05"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="4 digit wallet pin you created in KnitKraft"
                            >
                              Your wallet pin
                            </a>
                          </label>
                          <input
                            type="number"
                            id="walletPin"
                            class="form-control pininp"
                            placeholder="Enter 4 digit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <div class="form-group basic mt-2">
                    <button
                      type="button"
                      class="btn btn-primary btn-block btn-lg"
                      data-bs-dismiss="modal"
                      id="confirmBtn"
                    >
                      Confirm Payment
                    </button>
                  </div>
                  <script>
                    confirmBtn.addEventListener("click", function () {
                      if (walletPin.value == "1111") {
                        loader.setAttribute("style", "display: flex;");
                        loader.classList.add("service-loader");
                        setTimeout(function () {
                          loader.setAttribute("style", "display: none;");
                          notification("SUCCESS-NOTIFICATION", 3000);
                          document.getElementById("myModal").style.display =
                            "flex";
                        }, 1500);
                      } else {
                        loader.setAttribute("style", "display: flex;");
                        loader.classList.add("service-loader");
                        setTimeout(function () {
                          loader.setAttribute("style", "display: none;");
                          failCall.click();
                        }, 1000);
                      }
                    });
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- * App Capsule -->

    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
      <a href="../index.html" class="item">
        <div class="col">
          <ion-icon name="pie-chart-outline"></ion-icon>
          <strong>Overview</strong>
        </div>
      </a>
      <a href="../Woolkart" class="item">
        <div class="col">
          <ion-icon name="card-outline"></ion-icon>
          <strong>WoolKart</strong>
        </div>
      </a>
      <a href="../Learning" class="item active">
        <div class="col">
          <ion-icon name="apps-outline"></ion-icon>
          <strong>Learnings</strong>
        </div>
      </a>

      <a href="../Services" class="item">
        <div class="col">
          <ion-icon name="document-text-outline"></ion-icon>
          <strong>Services</strong>
        </div>
      </a>
      <a href="../Statistics" class="item">
        <div class="col">
          <ion-icon name="settings-outline"></ion-icon>
          <strong>Statistics</strong>
        </div>
      </a>
    </div>
    <!-- * App Bottom Menu -->

    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="../assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- Splide -->
    <script src="../assets/js/plugins/splide/splide.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Apex Charts -->
    <script src="../assets/js/plugins/apexcharts/apexcharts.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>

    <script>
      var allMeetings = document.getElementById("allMeetings");

      $.getJSON("https://knitkraft.onrender.com/api/getMeetings", function (data) {
        var allMeetings = "";
        if (data.status == "success") {
          data = data.meetings;
          $.each(data, function (key, value) {
            console.log(value);
            key = value;
            if (key.farmerId == "43689564389")
              allMeetings += `
                <div class="row ">
                            <div class="col-md-6">
                                <div class="card mb-3 p-2">
                                    <div class="card-body">
                                        <h6 class="card-subtitle mb-2 text-muted">Topic Name: ${
                                          key.topic
                                        }</h6>
                                        <p class="card-text">Date: ${
                                          key.date
                                        }</p>
                                        <p class="card-text">Time: ${
                                          key.time
                                        }</p>
                                        <p class="card-text">Description: ${
                                          key.message
                                        }</p>
                                        <p class="card-text badge
                                        ${
                                          key.status == "Pending" ||
                                          key.status == "reject"
                                            ? "bg-warning"
                                            : "bg-success"
                                        }">Status: ${key.status}</p>
                                        <td>
                                          ${
                                            key.response
                                              ? `<p class="card-text">Response: ${key.response}</p>`
                                              : ""
                                          }
                                          </td>
                                    </div>
                                    <button onclick="deleteMeeting('${
                                      key._id
                                    }')" class="btn btn-danger" >Remove</button>
                                </div>
                            </div>
                </div>
                `;
          });
        } else allMeetings = "No Meetings Found";
        $("#allMeetings").append(allMeetings);
      });

      function deleteMeeting(id) {
        $.ajax({
          type: "POST",
          url: "https://knitkraft.onrender.com/api/deleteMeet",
          data: { id: id },
          success: function (data) {
            console.log(data);
            if (data.status == "success") {
              console.error("Meeting Deleted");
              location.reload();
            } else {
              console.error("There is some error");
            }
          },
        });
      }

      $(document).ready(function () {
        $("#bookMeetForm").submit(function (e) {
          e.preventDefault();
          var form = $(this);
          var url = form.attr("action");
          $.ajax({
            type: "POST",
            url: "https://knitkraft.onrender.com/api/bookMeet",
            data: form.serialize(),
            success: function (data) {
              console.log(data);
              if (data.status == "success") {
                $("#myModal").css("display", "none");
              } else {
                console.error("There is some error");
              }
            },
          });
        });
      });
      var sparklineAreaExampleSuccess1 = {
        series: [
          {
            data: [555, 1222, 777, 888, 555, 888, 999, 1222],
          },
        ],
        chart: {
          type: "area",
          width: "100%",
          height: 70,
          sparkline: {
            enabled: true,
          },
        },
        stroke: {
          width: 2,
        },
        colors: ["#1DCC70"],
        tooltip: {
          enabled: false,
        },
      };
      var sparklineAreaExampleSuccess2 = {
        series: [
          {
            data: [55, 66, 55, 77, 66, 180, 290, 333],
          },
        ],
        chart: {
          type: "area",
          width: "100%",
          height: 70,
          sparkline: {
            enabled: true,
          },
        },
        stroke: {
          width: 2,
        },
        colors: ["#1DCC70"],
        tooltip: {
          enabled: false,
        },
      };
      var sparklineAreaExampleDanger1 = {
        series: [
          {
            data: [2222, 1666, 1444, 1777, 1333, 1111, 777, 666],
          },
        ],
        chart: {
          type: "area",
          width: "100%",
          height: 70,
          sparkline: {
            enabled: true,
          },
        },
        stroke: {
          width: 2,
        },
        colors: ["#FF396F"],
        tooltip: {
          enabled: false,
        },
      };
      var sparklineAreaExampleDanger2 = {
        series: [
          {
            data: [1200, 1444, 2900, 505, 531, 1900, 555, 75],
          },
        ],
        chart: {
          type: "area",
          width: "100%",
          height: 70,
          sparkline: {
            enabled: true,
          },
        },
        stroke: {
          width: 2,
        },
        colors: ["#FF396F"],
        tooltip: {
          enabled: false,
        },
      };

      document.addEventListener("DOMContentLoaded", function () {
        document
          .querySelectorAll(".chart-sparkline-success-1")
          .forEach((chart) =>
            new ApexCharts(chart, sparklineAreaExampleSuccess1).render()
          );
        document
          .querySelectorAll(".chart-sparkline-success-2")
          .forEach((chart) =>
            new ApexCharts(chart, sparklineAreaExampleSuccess2).render()
          );
        document
          .querySelectorAll(".chart-sparkline-danger-1")
          .forEach((chart) =>
            new ApexCharts(chart, sparklineAreaExampleDanger1).render()
          );
        document
          .querySelectorAll(".chart-sparkline-danger-2")
          .forEach((chart) =>
            new ApexCharts(chart, sparklineAreaExampleDanger2).render()
          );
      });
    </script>
  </body>
</html>
