<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#000000" />
    <title>KnitKraft</title>
    <meta name="description" content="Knitkraft HTML Mobile Template" />
    <meta
      name="keywords"
      content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/favicon.png"
      sizes="32x32"
      />
      <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/img/icon/192x192.png"
      />
      <link rel="stylesheet" href="assets/css/weather.css" />
      <link rel="stylesheet" href="assets/css/style.css" />
      <link rel="manifest" href="__manifest.json" />
      <script src="assets/js/base.js"></script>
    <script>
      if (getCookie("token")){
        var type = getCookie("role");
        switch (type) {
          case "farmer":
            window.location.href = "./farmer";
            break;
          case "warehouse":
            window.location.href = "./warehouse";
            break;
          case "seller":
            window.location.href = "./seller";
            break;
          case "teacher":
            window.location.href = "./teacher";
            break;
          case "service":
            window.location.href = "./service";
            break;
          case "transport":
            window.location.href = "./transport";
            break;
          default:
            window.location.href = "./Pages/app-login.html";
        }
      } else {
        window.location.href = "./Pages/app-login.html";
      }
    </script>
  </head>
  <body>
    "Redirecting..."
  </body>
</html>
