<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template">
    <meta name="keywords"
        content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive" />
    <link rel="icon" type="image/png" href="../assets/img/favicon.png" sizes="32x32">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/icon/192x192.png">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="manifest" href="__manifest.json">
</head>

<body>

    <!-- loader -->
    <div id="loader">
        <img src="assets/img/loading-icon.png" alt="icon" class="loading-icon">
    </div>
    <!-- * loader -->

    <!-- App Header -->
    <div class="appHeader no-border transparent position-absolute">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle"></div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">

        <div class="section mt-2">
            <div class="section-title">Employee Information</div>
            <div class="card">
                <div class="card-body">
                    <form action="submit_employee_form.php" method="post" enctype="multipart/form-data">
                        <!-- Name -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeName">Name</label>
                                <input type="text" class="form-control" id="employeeName" placeholder="Enter Name">
                            </div>
                        </div>
        
                        <!-- Email -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeEmail">Email</label>
                                <input type="email" class="form-control" id="employeeEmail" placeholder="Enter Email">
                            </div>
                        </div>
        
                        <!-- Mobile -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeMobile">Mobile</label>
                                <input type="tel" class="form-control" id="employeeMobile" placeholder="Enter Mobile">
                            </div>
                        </div>
        
                        <!-- Address -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeState">State</label>
                                <input type="text" class="form-control" id="employeeState" placeholder="Enter State">
                            </div>
                        </div>
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeCity">City</label>
                                <input type="text" class="form-control" id="employeeCity" placeholder="Enter City">
                            </div>
                        </div>
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeCountry">Country</label>
                                <input type="text" class="form-control" id="employeeCountry" placeholder="Enter Country">
                            </div>
                        </div>
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeePincode">Pincode</label>
                                <input type="text" class="form-control" id="employeePincode" placeholder="Enter Pincode">
                            </div>
                        </div>
        
                        <!-- Joining Date -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="joiningDate">Joining Date</label>
                                <input type="date" class="form-control" id="joiningDate">
                            </div>
                        </div>
        
                        <!-- Image Upload -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeImage">Upload Image</label>
                                <input type="file" id="employeeImage" accept=".png, .jpg, .jpeg">
                            </div>
                        </div>
        
                        <!-- Education -->
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="employeeEducation">Education</label>
                                <textarea id="employeeEducation" rows="2" class="form-control"
                                    placeholder="Enter Education Details"></textarea>
                            </div>
                        </div>
        
                        <!-- Type of Vehicle -->
                        <div class="form-group basic">
                            <label class="label">Type of Vehicle</label>
                            <select class="form-control custom-select" id="vehicleType" name="vehicleType" onchange="updatePrice()">
                                <option value="car">Car</option>
                                <option value="bike">Bike</option>
                                <!-- truck train ,ship -->
                                <option value="truck">Truck</option>
                                <option value="train">Train</option>
                                <option value="ship">Ship</option>
                            </select>
                        </div>
        
                        <!-- Display Price -->
                        <div class="form-group basic">
                            <label class="label">Price</label>
                            <input type="text" class="form-control" id="price" name="price" >
                        </div>
        
                        <!-- Submit Button -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
      
    </div>



    <!-- * App Capsule -->
   
    <script>
        function updatePrice() {
            const vehicleType = document.getElementById('vehicleType').value;
            let price;
    
            // Set the price based on the selected vehicle type
            if (vehicleType === 'car') {
                price = '5000'; // Set car price
            } else if (vehicleType === 'bike') {
                price = '2000'; // Set bike price

            }
            else if (vehicleType === 'truck') {
                price = '10000'; // Set truck price

            }
            else if (vehicleType === 'train') {
                price = '15000'; // Set train price

            }
            else if (vehicleType === 'ship') {
                price = '20000'; // Set ship price

            }
    
            document.getElementById('price').value = price;
        }
    </script>

    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="../assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="../assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>


</body>

</html>