<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="theme-color" content="#000000" />
    <title>Finapp</title>
    <meta name="description" content="Finapp HTML Mobile Template" />
    <meta
      name="keywords"
      content="bootstrap, wallet, banking, fintech mobile template, cordova, phonegap, mobile, html, responsive"
    />
    <link
      rel="icon"
      type="image/png"
      href="../assets/img/favicon.png"
      sizes="32x32"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../assets/img/icon/192x192.png"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="manifest" href="../__manifest.json" />

    <style>
      #map {
        width: 95%;
        margin: 0 auto;
        height: 50vh;
        z-index: 1;
        border: 0px solid red;
        box-shadow: 0px 0px 10px 0px #0000005c;
        border-radius: 10px;
      }
      .wrapper {
        position: relative;
        width: 100%;
      }
      #geocoder-container {
        position: absolute;
        top: 0px;
        left: 5%;
        z-index: 2;
      }
      #geocoder-container .mapboxgl-ctrl-geocoder {
        min-width: 100%;
        background: #0005;
        color: white;
      }
      /* input */
      #geocoder-container .mapboxgl-ctrl-geocoder input[type="text"] {
        /* style this input */
        background: #0005;
        color: white;
        border: none;
        border-radius: 0;
        font-size: 1.2rem;
        padding: 0.5rem;
      }
      /* input:focus */
      #geocoder-container .mapboxgl-ctrl-geocoder input[type="text"]:focus {
        outline: none;
        background: #0005;
        color: white;
      }
      #geocoder-container .mapboxgl-ctrl-geocoder .suggestions {
        background: #fff8;
        color: black;
      }
      /* cut  */
      #geocoder-container .mapboxgl-ctrl-geocoder--pin-right {
        display: none;
      }

      /* model box css */
      #appCapsule {
        min-height: 100vh;
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
      }
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        text-align: center;
        position: relative;
      }
      .pininp {
        font-size: 0.8em !important;
      }
    </style>

    <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <script>
      var CHOOSED_WAREHOUSE_PRICE = 0;
      var FARMER_DETAILS = {};
    </script>
  </head>

  <body class="bg-white">
    <!-- loader -->
    <div id="loader">
      <img
        src="../assets/img/loading-icon.png"
        alt="icon"
        class="loading-icon"
      />
    </div>
    <!-- * loader -->

    <!-- App Header  -->
    <div class="appHeader">
      <div class="left">
        <a href="#" class="headerButton goBack">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
      </div>
      <div class="pageTitle">WareHouse Services</div>
    </div>
    <!-- App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
      <div class="listview-title mt-1">WareHouse Services</div>
      <div id="myModal" class="modal" style="z-index: 100">
        <!-- Modal content -->
        <div class="modal-content">
          <!-- <span class="close">&times;</span> -->

          <form id="requestWareHouseForm">
            <h5 class="title mb-2">Request for WareHouse</h5>
            <div class="form-group basic">
              <div class="input-wrapper">
                <input type="hidden" name="farmerId" value="43689564389" />
                <label class="label" for="nameInput">Name</label>
                <input
                  type="text"
                  id="nameInput"
                  class="form-control"
                  placeholder="Enter Name"
                  name="name"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="mobileInput">Phone Number</label>
                <input
                  type="tel"
                  id="mobileInput"
                  class="form-control"
                  placeholder="Enter Phone Number"
                  name="mobile"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="emailInput">Email</label>
                <input
                  type="email"
                  id="emailInput"
                  class="form-control"
                  placeholder="Enter Email"
                  name="email"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="addressInput">Address</label>
                <input
                  type="text"
                  id="addressInput"
                  class="form-control"
                  placeholder="Enter Address"
                  name="address"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="quantityInput">Quantity</label>
                <input
                  type="number"
                  id="quantityInput"
                  class="form-control"
                  placeholder="Enter Quantity"
                  name="quantity"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="qualityInput">Weight</label>
                <input
                  type="text"
                  id="qualityInput"
                  class="form-control"
                  placeholder="Enter Weight"
                  name="quality"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="fromDateInput">From Date</label>
                <input
                  type="date"
                  id="fromDateInput"
                  class="form-control"
                  placeholder="Select From Date"
                  name="fromDate"
                />
              </div>
            </div>
            <div class="form-group basic">
              <div class="input-wrapper">
                <label class="label" for="toDateInput">To Date</label>
                <input
                  type="date"
                  id="toDateInput"
                  class="form-control"
                  placeholder="Select To Date"
                  name="toDate"
                />
              </div>
            </div>

            <p style="text-align: center; margin-top: 1rem">
              <button
                class="btn btn-success btn-sm mb-2"
                style="margin: 0 auto"
                data-bs-toggle="modal"
                data-bs-target="#addCardActionSheet"
                id="payBtn"
                type="button"
              >
                Pay
              </button>
              <button
                class="btn btn-danger btn-sm mb-2"
                style="margin: 0 auto"
                onclick="document.getElementById('myModal').style.display = 'none'"
              >
                Cancel
              </button>
            </p>
          </form>
        </div>
      </div>
      <div class="wrapper">
        <div id="geocoder-container"></div>

        <div id="map"></div>
      </div>
      <hr />

      <div
        class="section mt-2"
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
      >
        <h5 class="mb-1">Warehouses</h5>
        <input
          type="search"
          name="search"
          id="warehouseSearch"
          placeholder="Search for warehouse location"
          autocomplete="off"
          style="padding: 2px 5px; border-radius: 5px; border: 1px solid #ccc"
        />
      </div>
      <div id="warehousesList"></div>

      <!-- <mapbox-search-box
        access-token="pk.eyJ1IjoibGVnaXRjb2RlciIsImEiOiJjbHEzczEwYmUwZmZxMnNxd3FwZWhjbzdmIn0.Jzm8D0cdCnrJrcInGe1p4Q"
        proximity="0,0"
      ></mapbox-search-box> -->

      <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
      <script>
        payBtn.onclick = function (e) {
          e.preventDefault();
          var fromDate = new Date(
            document.getElementById("fromDateInput").value
          );
          var toDate = new Date(document.getElementById("toDateInput").value);
          var days = (toDate - fromDate) / (1000 * 3600 * 24);
          var amount =
            days *
            document.getElementById("quantityInput").value *
            CHOOSED_WAREHOUSE_PRICE;
          myModal.style.display = "none";
          document.getElementById("calPrice").innerHTML = amount;
          document.getElementById("calPrice2").innerHTML = amount;
        };

        function submitRequestForm() {
          var form = $("#requestWareHouseForm");
          $.ajax({
            type: "POST",
            url: "http://localhost:4000/api/bookWarehouse",
            data: form.serialize(), // serializes the form's elements.
            success: function (data) {
              console.log(data);
              successCall.click();
            },
            error: function (err) {
              console.log(err);
              failCall.click();
            },
          });
        }
        // get my current location
        navigator.geolocation.getCurrentPosition(
          successLocation,
          errorLocation,
          {
            enableHighAccuracy: true,
          }
        );
        function successLocation(position) {
          setupMap([position.coords.longitude, position.coords.latitude]);
        }
        function errorLocation() {
          setupMap([-2.24, 53.48]);
        }
        function setupMap(center) {
          const map = new mapboxgl.Map({
            container: "map",
            style: "mapbox://styles/mapbox/navigation-day-v1",
            center: center,
            zoom: 11,
          });
          map.addControl(new mapboxgl.NavigationControl(), "top-right");

          const geocoder = new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            mapboxgl: mapboxgl,
            placeholder: "Search for warehouses",
            proximity: {
              longitude: center[0],
              latitude: center[1],
            },
          });

          var WAREHOUSES = [
            {
              name: "SecureStorage Plus",
              location: { lng: 85.52357816010955, lat: 25.641208847465327 },
              address: {
                state: "Bihar",
                city: "Bakhtiyarpur",
                country: "India",
                pincode: "123456",
              },
              owner: {
                name: "Bob Smith",
                mobile: "5551234567",
                email: "bob@example.com",
              },
              description:
                "SecureStorage Plus offers state-of-the-art storage solutions for your valuable goods. Our warehouse, conveniently located in Bakhtiyarpur, Bihar, provides top-notch security measures, climate-controlled units, and 24/7 monitoring. Whether you need short-term storage during a move or long-term storage for business inventory, SecureStorage Plus has you covered. Pricing starts at $10 per kilogram per day, ensuring affordability without compromising on quality.",
              pricePerKGperDay: 10,
              image: "https://placekitten.com/200/300",
            },
            {
              name: "ClimateControl Warehousing",
              location: { lng: 85.5278481979343, lat: 25.601939994727994 },
              address: {
                state: "Bihar",
                city: "Patna",
                country: "India",
                pincode: "789012",
              },
              owner: {
                name: "Jane Doe",
                mobile: "9876543210",
                email: "jane@example.com",
              },
              description:
                "Welcome to ClimateControl Warehousing, where your belongings are safeguarded in a controlled environment. Our facility in Patna, Bihar, ensures that temperature-sensitive items are kept at optimal conditions. With a focus on reliability and customer satisfaction, we offer competitive pricing starting at $8 per kilogram per day. Trust ClimateControl Warehousing for secure and climate-friendly storage solutions.",
              pricePerKGperDay: 8,
              image: "https://placekitten.com/200/301",
            },
            {
              name: "Central Storage Hub",
              location: { lng: 77.594562, lat: 12.971598 },
              address: {
                state: "Karnataka",
                city: "Bangalore",
                country: "India",
                pincode: "560001",
              },
              owner: {
                name: "Alice Johnson",
                mobile: "9998765432",
                email: "alice@example.com",
              },
              description:
                "Central Storage Hub is your go-to destination for secure and efficient storage solutions in Bangalore, Karnataka. Our facility boasts cutting-edge security features and spacious storage units suitable for various needs. Whether it's household items or commercial inventory, we provide reliable storage at a competitive price of $12 per kilogram per day.",
              pricePerKGperDay: 12,
              image: "https://placekitten.com/200/302",
            },
            {
              name: "Rajasthan Warehousing",
              location: { lng: 75.78727, lat: 26.912434 },
              address: {
                state: "Rajasthan",
                city: "Jaipur",
                country: "India",
                pincode: "302001",
              },
              owner: {
                name: "Raj Sharma",
                mobile: "8887654321",
                email: "raj@example.com",
              },
              description:
                "Discover secure storage solutions at Rajasthan Warehousing in the historic city of Jaipur, Rajasthan. Our facility offers a range of storage options with 24/7 surveillance and excellent customer service. For a competitive price of $11 per kilogram per day, trust Rajasthan Warehousing for all your storage needs.",
              pricePerKGperDay: 11,
              image: "https://placekitten.com/200/303",
            },
            {
              name: "Central India Storage",
              location: { lng: 78.137008, lat: 23.473324 },
              address: {
                state: "Madhya Pradesh",
                city: "Indore",
                country: "India",
                pincode: "452001",
              },
              owner: {
                name: "Mohan Patel",
                mobile: "7776543210",
                email: "mohan@example.com",
              },
              description:
                "Central India Storage, located in the vibrant city of Indore, Madhya Pradesh, provides secure and reliable storage solutions. Our facility is equipped with advanced security measures, and our experienced team ensures the safety of your belongings. Avail our storage services at a competitive price of $9 per kilogram per day.",
              pricePerKGperDay: 9,
              image: "https://placekitten.com/200/304",
            },
            {
              name: "Eastern Oasis Storage",
              location: { lng: 86.83867, lat: 21.166519 },
              address: {
                state: "West Bengal",
                city: "Kolkata",
                country: "India",
                pincode: "700001",
              },
              owner: {
                name: "Priya Das",
                mobile: "6669876543",
                email: "priya@example.com",
              },
              description:
                "Eastern Oasis Storage welcomes you to Kolkata, West Bengal, with secure and affordable storage solutions. Our facility ensures the safety of your possessions with 24/7 monitoring and climate-controlled storage units. Experience quality storage services at a competitive price of $10 per kilogram per day.",
              pricePerKGperDay: 10,
              image: "https://placekitten.com/200/305",
            },
            {
              name: "Golden Triangle Storage",
              location: { lng: 77.226394, lat: 28.613939 },
              address: {
                state: "Uttar Pradesh",
                city: "Agra",
                country: "India",
                pincode: "282001",
              },
              owner: {
                name: "Vikram Verma",
                mobile: "5559876543",
                email: "vikram@example.com",
              },
              description:
                "Discover secure and convenient storage solutions at Golden Triangle Storage in the historic city of Agra, Uttar Pradesh. Our facility combines advanced security features with friendly service, providing storage options for various needs. Avail our competitive pricing starting at $10 per kilogram per day.",
              pricePerKGperDay: 10,
              image: "https://placekitten.com/200/306",
            },
            {
              name: "Western Gateway Warehousing",
              location: { lng: 72.825836, lat: 18.975 },
              address: {
                state: "Gujarat",
                city: "Ahmedabad",
                country: "India",
                pincode: "380001",
              },
              owner: {
                name: "Amit Desai",
                mobile: "8881234567",
                email: "amit@example.com",
              },
              description:
                "Welcome to Western Gateway Warehousing in the vibrant city of Ahmedabad, Gujarat. Our facility offers secure and well-maintained storage solutions for your belongings. With competitive pricing starting at $11 per kilogram per day, trust us for reliable and cost-effective storage services.",
              pricePerKGperDay: 11,
              image: "https://placekitten.com/200/307",
            },
            {
              name: "Northern Breeze Warehousing",
              location: { lng: 77.209021, lat: 28.613939 },
              address: {
                state: "Delhi",
                city: "New Delhi",
                country: "India",
                pincode: "110001",
              },
              owner: {
                name: "Ankit Khanna",
                mobile: "9991234567",
                email: "ankit@example.com",
              },
              description:
                "Discover secure storage at Northern Breeze Warehousing in the heart of New Delhi, India's capital territory. Our facility offers reliable storage solutions with advanced security features and competitive pricing starting at $12 per kilogram per day. Trust us for your storage needs.",
              pricePerKGperDay: 12,
              image: "https://placekitten.com/200/309",
            },
          ];

          WAREHOUSES = WAREHOUSES.map((warehouse) => {
            return {
              ...warehouse,
              distance: calculateDistance(center, warehouse.location),
            };
          });
          WAREHOUSES.sort((a, b) => {
            return a.distance - b.distance;
          });
          var RESULTWAREHOUSE = WAREHOUSES.filter((warehouse) => {
            return warehouse.distance;
          });
          console.log(WAREHOUSES);
          document
            .getElementById("geocoder-container")
            .appendChild(geocoder.onAdd(map));
          document.getElementById("warehouseSearch").onkeyup = function (e) {
            if (e.key == "Enter") {
              var first = warehousesListFill(WAREHOUSES, e.target.value);
              if (first.location)
                map.flyTo({
                  center: first.location,
                  zoom: 14,
                });
            } else {
              warehousesListFill(WAREHOUSES, e.target.value);
            }
          };

          // add markers to map
          WAREHOUSES.forEach((marker) => {
            var dist = calculateDistance(center, marker.location);
            var el = document.createElement("div");
            el.className = "marker";
            new mapboxgl.Marker()
              .setLngLat(marker.location)
              .setPopup(
                new mapboxgl.Popup({ offset: 25 }).setHTML(`
                          ${marker.name},
                          ${dist} <br>
                          <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addCardActionSheet">Request</button>
                        `)
              )
              .addTo(map);
          });
          function warehousesListFill(WAREHOUSES, searchText = "", mode) {
            var warehousesList = document.getElementById("warehousesList");
            warehousesList.innerHTML = "";
            var FIRST = {};
            WAREHOUSES.forEach((warehouse, index) => {
              console.log(warehouse);
              if (
                warehouse.name
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.address.city
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.address.state
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.address.country
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.address.pincode
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.owner.name
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.owner.mobile
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.owner.email
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.description
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                warehouse.pricePerKGperDay
                  .toString()
                  .includes(searchText.toLowerCase()) ||
                warehouse.distance
                  .toString()
                  .includes(searchText.toLowerCase()) ||
                warehouse.image
                  .toLowerCase()
                  .includes(searchText.toLowerCase()) ||
                searchText == ""
              ) {
                if (!FIRST.name) FIRST = warehouse;
                warehousesList.innerHTML += `
                          <div class="accordion mb-2" id="accordionExample${index}">
                          <div class="accordion-item">
                            <h2
                              class="accordion-header"
                              style="display: flex; align-items: center; margin-left: 3vw"
                            >

                              <button
                                class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#accordion00${index}"
                              >
                                ${warehouse.name} - ${warehouse.distance} km
                              </button>
                            </h2>
                            <div
                              id="accordion00${index}"
                              class="accordion-collapse collapse"
                              data-bs-parent="#accordionExample${index}"
                            >
                              <div class="accordion-body">
                                <p style="text-align: center; margin-top: 1rem">
                                  <img
                                    src="${warehouse.image}"
                                    alt="warehouse image"
                                    style=" max-height: 200px"
                                  />
                                </p>
                                <strong>Address:</strong> ${warehouse.address.city}, ${warehouse.address.state}, ${warehouse.address.country}, ${warehouse.address.pincode} <br>
                                <strong>Owner:</strong> ${warehouse.owner.name} <br>
                                <strong>Phone:</strong> ${warehouse.owner.mobile} <br>
                                <strong>Email:</strong> ${warehouse.owner.email} <br>
                                <strong>Price:</strong> ₹${warehouse.pricePerKGperDay}/kg/day <br>
                                <strong>Description:</strong> ${warehouse.description} <br>

                                <p style="text-align: center; margin-top: 1rem">
                                  <button class="btn btn-success btn-sm mb-2" style="margin: 0 auto;"
                                  onclick="CHOOSED_WAREHOUSE_PRICE = ${warehouse.pricePerKGperDay}; document.getElementById('myModal').style.display = 'flex';"
                                  >Request</button>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                `;
              }
            });
            if (!FIRST.location)
              warehousesList.innerHTML =
                "<p style='text-align: center'>No results found</p>";
            return FIRST;
          }
          warehousesListFill(WAREHOUSES);
        }
        function calculateDistance(center, location) {
          var R = 6371e3; // metres
          var φ1 = (center[1] * Math.PI) / 180; // φ, λ in radians
          var φ2 = (location.lat * Math.PI) / 180;
          var Δφ = ((location.lat - center[1]) * Math.PI) / 180;
          var Δλ = ((location.lng - center[0]) * Math.PI) / 180;

          var a =
            Math.sin(Δφ / 2) * Math.sin(Δφ / 2) +
            Math.cos(φ1) * Math.cos(φ2) * Math.sin(Δλ / 2) * Math.sin(Δλ / 2);
          var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

          var d = R * c; // in metres
          console.log(d);
          return Math.round(d / 1000);
        }
        mapboxgl.accessToken =
          "pk.eyJ1IjoibGVnaXRjb2RlciIsImEiOiJjbHEzczEwYmUwZmZxMnNxd3FwZWhjbzdmIn0.Jzm8D0cdCnrJrcInGe1p4Q";
      </script>
      <!-- <div class="floatingChatButton">
        <a href="../Pages/chat.html" class="btn btn-success btn-lg">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        </a>
      </div> -->

      <!-- <div class="section mt-2">
        <a
          href="#"
          class="btn btn-block btn-danger"
          data-bs-toggle="modal"
          data-bs-target="#addCardActionSheet"
        >
          <ion-icon name="share-outline"></ion-icon> Request For This Service
        </a>
      </div> -->

      <div
        class="modal fade action-sheet"
        id="addCardActionSheet"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Amount: ₹<span id="calPrice"></span></h5>
            </div>
            <div class="modal-body">
              <div class="action-sheet-content">
                <form>
                  <div class="form-group basic">
                    <div class="input-wrapper">
                      <label class="label" for="cardnumber1">Card Number</label>
                      <input
                        type="number"
                        id="cardnumber1"
                        class="form-control"
                        placeholder="Enter Card Number"
                      />
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label">Expiry Date</label>
                          <div class="row">
                            <div class="col-4">
                              <select
                                class="form-control custom-select"
                                id="exp-month"
                              >
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                              </select>
                            </div>
                            <div class="col-6">
                              <select
                                class="form-control custom-select"
                                id="exp-year"
                              >
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label" for="cardcvv">
                            CVV
                            <a
                              href="#"
                              class="ms-05"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="3-4 digit number back of your card"
                            >
                              What is this?
                            </a>
                          </label>
                          <input
                            type="number"
                            id="cardcvv"
                            class="form-control pininp"
                            placeholder="Enter 3 digit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <p class="carousel-slider">OR</p>
                  </div>

                  <!--  -->
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label">Current Wallet Balance</label>
                          <div class="row">
                            <div class="col-10">₹20000</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group basic">
                        <div class="input-wrapper">
                          <label class="label" for="cardcvv">
                            PIN
                            <a
                              href="#"
                              class="ms-05"
                              data-bs-toggle="tooltip"
                              data-bs-placement="top"
                              title="4 digit wallet pin you created in KnitKraft"
                            >
                              Your wallet pin
                            </a>
                          </label>
                          <input
                            type="number"
                            id="walletPin"
                            class="form-control pininp"
                            placeholder="Enter 4 digit"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  -->
                  <div class="form-group basic mt-2" style="text-align: center">
                    <button
                      type="button"
                      class="btn btn-primary btn-block btn-lg mb-1"
                      data-bs-dismiss="modal"
                      id="confirmBtn"
                    >
                      Confirm Payment
                    </button>
                    <a href="negotiate.html" style="text-decoration: underline"
                      >Negotiate</a
                    >
                  </div>
                  <script>
                    confirmBtn.addEventListener("click", function () {
                      if (walletPin.value == "1111") {
                        loader.setAttribute("style", "display: flex;");
                        loader.classList.add("service-loader");
                        setTimeout(function () {
                          loader.setAttribute("style", "display: none;");
                          submitRequestForm();
                        }, 1500);
                      } else {
                        loader.setAttribute("style", "display: flex;");
                        loader.classList.add("service-loader");
                        setTimeout(function () {
                          loader.setAttribute("style", "display: none;");
                          failCall.click();
                        }, 1000);
                      }
                    });
                  </script>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="SUCCESS-NOTIFICATION" class="notification-box">
        <div class="notification-dialog android-style">
          <div class="notification-header">
            <a href="#" class="close-button">
              <ion-icon name="close"></ion-icon>
            </a>
          </div>
          <div class="notification-content p-0">
            <div>
              <h3 class="subtitle">Payment has been sent</h3>
              <br />
              <div class="text">
                You just sent ₹<span id="calPrice2"></span> to KnitKraft.
              </div>
            </div>
            <div class="icon-box text-success">
              <ion-icon name="cash-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
      <style>
        .modal-backdrop {
          display: none;
        }
      </style>
      <div
        class="modal fade dialogbox"
        id="DialogIconedDanger"
        data-bs-backdrop="static"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-icon text-danger">
              <ion-icon name="close-circle"></ion-icon>
            </div>
            <div class="modal-header">
              <h5 class="modal-title">Error</h5>
            </div>
            <div class="modal-body">There is something wrong.</div>
            <div class="modal-footer">
              <div class="btn-inline">
                <a href="#" class="btn" data-bs-dismiss="modal">CLOSE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        id="failCall"
        style="display: none"
        data-bs-toggle="modal"
        data-bs-target="#DialogIconedDanger"
      ></a>

      <!-- DialogIconedSuccess -->
      <div
        class="modal fade dialogbox"
        id="DialogIconedSuccess"
        data-bs-backdrop="static"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-icon text-success">
              <ion-icon name="checkmark-circle"></ion-icon>
            </div>
            <div class="modal-header">
              <h5 class="modal-title">Success</h5>
            </div>
            <div class="modal-body">
              Your WareHouse has been booked.
              <br />
              <br />
              <a href="../Orders.html" class="btn btn-primary"
                >Check Your Order</a
              >
            </div>

            <div class="modal-footer">
              <div class="btn-inline">
                <a href="#" class="btn" data-bs-dismiss="modal">CLOSE</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a
        href="#"
        id="successCall"
        class="item"
        style="display: none"
        data-bs-toggle="modal"
        data-bs-target="#DialogIconedSuccess"
      >
        <div class="in">
          <div>Success</div>
        </div>
      </a>
      <!-- * DialogIconedSuccess -->
    </div>
    <!-- * App Capsule -->

    <!-- Share Action Sheet -->
    <div
      class="modal fade action-sheet inset"
      id="actionSheetShare"
      tabindex="-1"
      role="dialog"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Share with</h5>
          </div>
          <div class="modal-body">
            <ul class="action-button-list">
              <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                  <span>
                    <ion-icon name="logo-facebook"></ion-icon>
                    Facebook
                  </span>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                  <span>
                    <ion-icon name="logo-twitter"></ion-icon>
                    Twitter
                  </span>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                  <span>
                    <ion-icon name="logo-instagram"></ion-icon>
                    Instagram
                  </span>
                </a>
              </li>
              <li>
                <a href="#" class="btn btn-list" data-bs-dismiss="modal">
                  <span>
                    <ion-icon name="logo-linkedin"></ion-icon>
                    Linkedin
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- * Share Action Sheet -->

    <!-- App Bottom Menu -->
    <div class="appBottomMenu">
      <a href="../index.html" class="item">
        <div class="col">
          <ion-icon name="pie-chart-outline"></ion-icon>
          <strong>Overview</strong>
        </div>
      </a>
      <a href="../Woolkart" class="item">
        <div class="col">
          <ion-icon name="card-outline"></ion-icon>
          <strong>WoolKart</strong>
        </div>
      </a>
      <a href="../Learning" class="item">
        <div class="col">
          <ion-icon name="apps-outline"></ion-icon>
          <strong>Learnings</strong>
        </div>
      </a>

      <a href="../Services" class="item active">
        <div class="col">
          <ion-icon name="document-text-outline"></ion-icon>
          <strong>Services</strong>
        </div>
      </a>
      <a href="../Statistics" class="item">
        <div class="col">
          <ion-icon name="settings-outline"></ion-icon>
          <strong>Statistics</strong>
        </div>
      </a>
    </div>
    <!-- * App Bottom Menu -->

    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="../assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <!-- Splide -->
    <script src="../assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="../assets/js/base.js"></script>
  </body>
</html>
